*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Indie Flower", sans-serif;
}

.lavagna {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 480px;
  padding: 0.6rem;
  background-color: rgb(113, 106, 106);
  border: 1rem solid rgb(113, 43, 43);
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.postIt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 40%;
  box-shadow: 3px 4px 9px #444;
  opacity: 0;
}
.giallo {
  /* background: rgb(156, 156, 127); */
  background-image: linear-gradient(0deg, rgba(156, 156, 127, 1) 0%, rgba(206, 207, 178, 1) 17%, rgba(249, 250, 200, 1) 38%);
  rotate: -6deg;
}
.verde {
  /* background: rgb(156, 156, 127); */
  background-image: linear-gradient(0deg, rgba(156, 156, 127, 1) 0%, rgba(206, 207, 178, 1) 17%, rgba(200, 248, 202, 1) 38%);
  rotate: 3deg;
}
.blue {
  /* background: rgb(1, 144, 148); */
  background-image: linear-gradient(0deg, rgba(1, 144, 148, 1) 6%, rgba(101, 178, 218, 1) 41%, rgba(204, 198, 241, 1) 100%);
  rotate: -9deg;
}
h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.postIt {
  /* uso transform per non adare in conflitto con scale del animation */
  transition: transform 0.4s, rotate 0.4s;
}
.postIt:hover {
  transform: scale(1.2);
  rotate: 0deg;
  box-shadow: 5px 9px 15px #444;
  z-index: 1;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 1.5;
  }

  to {
    opacity: 1;
  }
}
.giallo {
  animation: fadeIn 0.6s forwards;
}
.verde {
  animation: fadeIn 0.6s forwards 0.6s;
}
.blue {
  animation: fadeIn 0.6s forwards 1.2s;
}
